<!DOCTYPE html>
<html>
  <head>
    <title>Community Gardens</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/img/logo-title.svg">
    <link rel="stylesheet" href="../static/globals.css" />
    <link rel="stylesheet" href="../static/styleguide.css" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="desktop">
        <header class="header">
            <div class="box">
                <a href="/"><div class="group"></div></a>
                <div class="menu-auth">
                    <nav class="navigation-pill-list">
                        <ul id="menu_desktop" class="menu">
                            <li class="title-wrapper"><a class="title-2" href="/services">Services</a>
                            <li class="title-wrapper"><a class="title-2" href="/events">Events</a>
                            <li class="title-wrapper"><a class="title-2" href="/news">News</a>
                            <li class="title-wrapper"><a class="title-2" href="/resources">Resources</a>
                            <li class="title-wrapper"><a class="title-2" href="/about">About</a>
                            <li class="title-wrapper"><a class="title-2" href="/contact">Contact</a>
                        </ul>
                    </nav>
                    <div class="burger-menu">
                        <div class="burger">
                            <span></span>
                        </div>
                    </div>
                    <div class="header-auth">
                        <div class="button"><button class="button-2">Sign in</button></div>
                        <div class="button"><button class="button-4">Register</button></div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <script>
        document.querySelector('.burger').addEventListener('click', function(){
            this.classList.toggle('active');
            document.querySelector('.navigation-pill-list').classList.toggle('open');
        })
    </script>
  </body>
  <footer>
    <p>Brent Gardens, Halifax Street, Burnaby, V5C5Z2</p>
    <p><a href="mailto:brentgardens1@gmail.com">brentgardens1@gmail.com</a></p>
  </footer>
</html>