<!DOCTYPE html>
<html>
  <head>
    <title>Community Gardens</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/img/logo-title.svg">
    <link rel="stylesheet" href="../static/globals.css" />
    <link rel="stylesheet" href="../static/styleguide.css" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="desktop">
        <header class="header">
            <div class="box">
                <div class="group"></div>
                <div class="menu-auth">
                    <nav class="navigation-pill-list">
                        <ul id="menu_desktop" class="menu">
                            <li class="title-wrapper"><a class="title-2" href=" ">Services</a>
                            <li class="title-wrapper"><a class="title-2" href=" ">Events</a>
                            <li class="title-wrapper"><a class="title-2" href=" ">News</a>
                            <li class="title-wrapper"><a class="title-2" href=" ">Resources</a>
                            <li class="title-wrapper"><a class="title-2" href=" ">About</a>
                            <li class="title-wrapper"><a class="title-2" href=" ">Contact</a>
                        </ul>
                    </nav>
                    <div class="burger-menu">
                        <div class="burger">
                            <span></span>
                        </div>
                    </div>
                    <div class="header-auth">
                        <div class="button"><button class="button-2">Sign in</button></div>
                        <div class="button"><button class="button-4">Register</button></div>
                    </div>
                </div>
            </div>
        </header>
        <div class="head">
            <div class="head-1"></div>
            <div class="image_veg">
                <div class="text_area" parametr="1">
                    <p class="text-head">Join to Brent Gargens Community!</p>
                    <p class="text-head-description">Make your space greener with plants</p>
                    <div class="button"><button class="button-head">Learn more</button></div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main_buttons"><a class="main_button" href="/how-to-join"><img class="icons" src="../static/img/join.png">How to join</a>
            <a class="main_button" href="/events"><img class="icons" src="../static/img/calendar.png">Important Events</a>
            <a class="main_button" href="/maps"><img class="icons" src="../static/img/maps.png">Plot maps</a>
            <a class="main_button" href="/news"><img class="icons" src="../static/img/news.png">News letter</a></div>
        </div>
    </div>
    <script>
        document.querySelector('.burger').addEventListener('click', function(){
            this.classList.toggle('active');
            document.querySelector('.navigation-pill-list').classList.toggle('open');
        })
    </script>
  </body>
</html>
