<!DOCTYPE html>
<html>
  <head>
    <title>Community Gardens</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/img/BG logo 1.svg">
    <link rel="stylesheet" href="../static/globals.css" />
    <link rel="stylesheet" href="../static/styleguide.css" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body class="login-page">
    <div class="login-center">
        <img src="../static/img/BG logo 1.svg">
        <a>Welcome to Garden Community Website!</a>
        <form action="" class="username-password">
            <input class="login" type="text" id="first" name="first" 
                placeholder="Enter your Username" required>
            <input class="login" type="password" id="password" name="password" 
                placeholder="Enter your Password" required>

            <div style="display: flex; justify-content: center; align-items: center; margin: 5px;">
                <button type="submit" style="background-color: transparent; border: 2px solid green;
                                            border-radius: 10px; padding-left: 50%; padding-right: 50%; 
                                            padding-top: 10%; padding-bottom: 10%; 
                                            font-family: 'Comic Sans MS', sans-serif; cursor: pointer;">
                    Submit
                </button>
            </div>
        </form>
        <p style="font-size: 16px;">Not registered?
            <a href="#" style="text-decoration: none;">
                Create an account
            </a>
        </p>
    </div>

  </body>
  <footer>
    <p style="background-color: #fffffff6;"><a href="https://maps.app.goo.gl/ycKwMM89FxfWq2u87">Brent Gardens, Halifax Street, Burnaby, V5C5Z2</a></p>
  </footer>
